@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #010b17;
    @apply text-gray-100
  }
}

.container {
  @apply mx-auto w-full max-w-[1200px] px-6
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #010b17;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #dd6b20;
  border-radius: 14px;
}